<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="p-3 mb-2 bg-success text-white">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center text-white">
            <!--Password reset sent-->
            <div class="container p-5">
                <h2 class="font-weight-bold mt-3">La réinitialisation du mot de passe a été envoyé</h2>
                <hr>
                <p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez
                    entré. Vous devriez les recevoir sous peu..<br>Si vous ne recevez pas d'e-mail, assurez-vous
                    vous avez entré l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.</p>
                 <a class="message btn btn-outline-warning my-2 my-sm-0"
                               href="{% url 'welcome:homePage' %}">Page d'accueil</a>
            </div>

        </div>
    </div>
</div>
{% endblock %}