<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="p-3 mb-2 bg-success text-white">
    <div class="container px-4 px-lg-5 h-100">
        <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center text-white">
            <!--Password Reset Complete-->
            <div class="container p-4">
                <h2 class="font-weight-bold mt-3">Réinitialisation du mot de passe terminée. </h2>
                <hr>
                <p>Votre mot de passe a été réinitialisé. Vous pouvez continuer et vous connecter maintenant.</p>
                <a href="{% url 'authentification:login' %}" class="btn btn-primary">Connexion</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}