<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="bg-image" style="background-image: url({% static '/assets/img/home.jpg' %});">
    <section class="page-section bg-light.bg-gradient" id="services">
            <div class="displayed">
                <div class="padForm">
                    <div class="card text-center bg-success backgroundCard" style="width: 25rem">
                        <div class="card-header text-black text-center">Réinitialisation du mot de passe terminée.</div>
                        <div class="card-body text-white text-center">
                            Votre mot de passe a été réinitialisé.</br>
                            Vous pouvez continuer et vous connecter maintenant.
                            <div class=pos">
                                <a href="{% url 'authentification:login' %}" class="btn btn-primary">Connexion</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
{% endblock %}
