<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="bg-image" style="background-image: url({% static '/assets/img/home.jpg' %});">
    <section class="page-section bg-light.bg-gradient" id="services">
            <div class="displayed">
                <div class="pad">
                    <!--Password Reset Confirm-->
                    <div class="card text-center bg-success backgroundCard" style="width: 25rem">
                        <div class="card-header text-black text-center">Réinitialisation du mot de passe.</div>
                        <div class="card-body text-white text-center">Merci d'entrer votre nouveau mot de passe.
                            <div class="card-body text-black text-center">
                                <form method="POST">
                                    {% csrf_token %}
                                    {% for field in form %}
                                    {% bootstrap_field field layout="floating" %}
                                    {% endfor %}
                                    <button class="btn btn-primary" id="Réinitialisation" type="submit">
                                        Réinitialisation
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
{% endblock %}
