<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}


{% block content %}
<div class="bg-image" style="background-image: url({% static '/assets/img/home.jpg' %});">
    <section class="page-section bg-light.bg-gradient" id="services">
        <div class="background">
            <div class="displayed">
                <div class="padForm">
                    <div class="card text-center bg-success backgroundCard" style="width: 25rem">
                        <div class="card-header text-black text-center">Vous avez oublié votre mot de passe??</div>
                        <div class="card-body text-white text-center">Entrez votre adresse e-mail ci-dessous et nous
                            vous enverrons par e-mail des instructions pour le
                            réinitialiser.
                        </div>
                        <form class="mx-auto text-black" method="POST">
                            {% csrf_token %}
                            {% for field in form %}
                            {% bootstrap_field field layout="floating" %}
                            {% endfor %}
                            <div class="pad">
                                <input class="message btn btn-primary" id="Envoyer" type="submit" value="Envoyer!">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}