<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% block title %} Page d'accueil {% endblock title %}

{% block content %}
<div class="background">
    <div class="card text-center text-white">
        <div class="bg-image" style="background-image: url({% static '/assets/img/home.jpg' %});height: 300vh">
            <section class="page-section bg-light.bg-gradient" id="services">
                <div class="container">
                    <div class="text-center">
                        <div class="pad">
                            <h2 class="section-heading">Bienvenue chez Green Mind !</h2>
                        </div>
                        <p class="section-heading">Nous vous aidons à prendre soin de vos plantes ... </br>
                            afin de prendre soin de vous.</p>
                        <div class="pad">
                            <a href="{% url 'authentification:login'%}" class="message btn btn-primary my-2 my-sm-0">
                                Rejoignez-nous </a>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-solid fa-circle-info fa-stack-1x fa-inverse"></i>
                        </span>
                            <h4 class="my-3">Informations</h4>
                            <p class="text-white">Green Mind a une base de donnée interne permettant d'apprendre divers
                                informations utiles sur les plantes d'intérieurs.</p>
                        </div>
                        <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-solid fa-heart fa-stack-1x fa-inverse"></i>
                        </span>
                            <h4 class="my-3">Favoris</h4>
                            <p class="text-white">Green Mind vous permet d'enregistrer vos plantes et de leur donner un
                                petit nom.</p>
                        </div>
                        <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-solid fa-envelope-circle-check fa-stack-1x fa-inverse"></i>
                        </span>
                            <h4 class="my-3">Rappels personnalisés</h4>
                            <p class="text-white">Green Mind envoie des courriels lorsque le temps est venu d'arroser
                                votre plante.</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    {% endblock content %}
</div>