<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% block title %} Page d'accueil {% endblock title %}


{% block content %}
<div class="bg-image" style="background-image: url({% static 'assets/img/coucherDeSoleil.jpg' %});">
    <section class="page-section bg-light.bg-gradient" id="services">
        <div class="text-center font-weight-bold text-white">MENTIONS LÉGALES</div>
        <br>
        <div class="displayed">
            <div class="colonne">
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Développé par :</div>
                        <div class="card-text text-center"><a
                                href="https://www.linkedin.com/in/claire-biedermann-b21671166/">Claire
                            Biedermann </a></div>
                    </div>
                </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Développé avec:</div>
                        <div class="card-text text-center"><a href="https://www.djangoproject.com/">Django</a><br></div>
                    </div>
                </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Mise en page:</div>
                        <div class="card-text text-center"><a href="https://getbootstrap.com/">Boostrap</a><br></div>
                    </div>
                </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Base de donnée:</div>
                        <div class="card-text text-center"><a href=https://www.postgresql.org/">PostgreSQL</a><br></div>
                    </div>
                </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Déployé avec:</div>
                        <div class="card-text text-center"><a href="https://try.digitalocean.com/">Digital Ocean</a><br>
                        </div>
                    </div>
                </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Envoie courriel:</div>
                        <div class="card-text text-center"><a href="https://google.com/">Google</a><br></div>
                    </div>
                </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Image Fougère:</div>
                        <div class="card-text text-center"><a
                                href="https://pixabay.com/fr/photos/foug%c3%a8re-feuilles-feuillage-vert-821293/">Pixaday</a><br>
                        </div>
                    </div>
                </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Image Pousse:</div>
                        <div class="card-text text-center"><a
                                href="https://pixabay.com/fr/photos/plantes-germer-botanique-sol-2551467/">Pixaday</a><br>
                        </div>
                    </div>
                </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Image Livre:</div>
                        <div class="card-text text-center"><a
                                href="https://pixabay.com/fr/photos/livre-lis-tee-litt%c3%a9rature-2020460/">Pixaday</a><br>
                        </div>
                    </div>
                </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Image Aurore Boréale:</div>
                        <div class="card-text text-center"><a
                                href="https://pixabay.com/fr/photos/aurores-polaires-ciel-de-nuit-5858656/">Pixaday</a><br>
                        </div>
                    </div>
                </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Image Coucher de soleil:</div>
                        <div class="card-text text-center"><a
                                href="https://pixabay.com/fr/photos/arbre-le-coucher-du-soleil-736885/">Pixaday</a><br>
                        </div>
                    </div>
                </div>
                 </div>
                <div class="pad">
                    <div class="card text-white bg-success" style="width: 10rem;">
                        <div class="card-header text-center">Plante test:</div>
                        <div class="card-text text-center"><a
                                href="https://pixabay.com/fr/photos/la-nature-terre-durabilit%C3%A9-feuille-3289812/">Pixaday</a><br>
                        </div>
                    </div>
                </div>
                 <div class="pad">
                        <div class="card text-white bg-success" style="width: 10rem;">
                            <div class="card-header text-center">Hiboux</div>
                            <div class="card-text text-center"><a
                                    href="https://cdn.pixabay.com/photo/2012/06/19/10/32/owl-50267_1280.jpg">Pixaday</a><br>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}
