<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}

<div class="bg-image" style="background-image: url({% static '/assets/image/ciel.jpg' %});">
    <section class="page-section bg-light.bg-gradient" id="services">
        <div class="text-center font-weight-bold text-white titrePage">
            <p id="textConfirSel" class="titreUser">Bonjour {{ user.first_name }},</p></br>
            <p>vous êtes sur la page de votre compte utilisateur.</p></br>
            <p>Vous trouverez vos informations ainsi que des explications sur le fonctionnement du site.</p>
            <p>Pour toutes demandes ou modification de votre compte, merci de nous
                <a href="{% url 'welcome:contactPage'%}" class="text-warning">contacter.</a></p>
        </div>
        <div>
            <div class="displayed">
                <div class="pad">
                    <div class="card text-white backgroundCard" style="width: 20rem;">
                        <div class="card-header text-center text-black text-uppercase backgroundCard">Vos informations
                        </div>
                        <div class="card-text text-center">{{ user.first_name }} {{ user.last_name }}</div>
                        <div class="card-text text-center">{{ user.username}}</div>
                        <div class="card-text text-center">{{ user.email }}</div>
                        <div class="card-text text-center"><a href="{% url 'plantes:myPlante'%}" class="text-warning">Vos
                            plantes</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="displayed">
    <div class="pad">
        <div class="card text-black backgroundU" style="width: 20rem;">
            <div class="card-header text-center pad text-uppercase">Enregistrer vos plantes</div>
            <div class="card-text text-center"><p>Allez sur la page
                <a href="{% url 'plantes:allPlante'%}" class="text-black">Plante.</a></p></div>
            <div class="card-text text-center">Cherchez l'espèce souhaitée dans notre base de données ou bien
                sélectionnez-en une proposée.
            </div>
            <div class="card-text text-center pad">Cliquez sur "En savoir plus".</div>
            <div class="card-text text-center pad">Entrez le nom de votre plante.</div>
            <div class="card-text text-center pad">Décochez la case de rappel si vous n'en souhaitez pas.</div>
            <div class="card-text text-center pad">Et voilà, le tour est joué.</div>
        </div>
    </div>
    <div class="pad">
        <div class="card text-black backgroundU" style="width: 20rem;">
            <div class="card-header text-center text-uppercase">Comment désactiver un rappel?</div>
            <div class="card-text text-center pad">Rendez-vous sur la page <a class="text-black"
                                                                              href="{% url 'plantes:myPlante'%}">Vos
                plantes.</a></div>
            <div class="card-text text-center pad">Cliquez sur le bouton "Désactiver" en dessous de "Rappel
                actif".
            </div>
        </div>
    </div>
    <div class="pad">
        <div class="card text-black backgroundU" style="width: 20rem;">
            <div class="card-header text-center text-uppercase">Comment recevoir un rappel?</div>
            <div class="card-text text-center pad">Rendez-vous sur la page
                <a class="text-black" href="{% url 'plantes:myPlante'%}">Vos plantes</a></div>
            <div class="card-text text-center pad">Cliquez sur le bouton "Activer le rappel"</div>
        </div>
    </div>
</div>
{% endblock %}
