<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="background">
    <div class="displayed">
        <div class="padForm">
            <div class="card text-center bg-success backgroundCard" style="width: 25rem">
                <div class="card-header text-center text-uppercase">Authentification</div>
                <form class="mx-auto" action="{% url 'authentification:login' %}" method="post">
                    {% csrf_token %}
                    {% bootstrap_form login_form layout="floating" %}
                    <div class="pad">
                        <button type="submit" class="message btn btn-outline-warning my-2 my-sm-0">
                            Soumettre
                        </button>
                    </div>
                </form>
                <div class="pad">
                    <a class="message text-white" href="{% url 'authentification:reset_password' %}">Mot de passe
                        oublié</a>
                </div>
            </div>
        </div>
        <div class="padForm">
            <div class="card text-center bg-success backgroundCard" style="width: 25rem">
                <div class="card-header text-center text-uppercase">Enregistrement</div>
                    <form class="mx-auto tailleForm" method="post" action="{% url 'authentification:register' %}">
                        {% csrf_token %}
                        {% bootstrap_form register_form layout="floating" %}
                        <div class="pad">
                            <button type="submit" class="btn btn-outline-warning my-2 my-sm-0">
                                Soumettre
                            </button>
                        </div>
                    </form>

            </div>
        </div>
    </div>
{% endblock %}
</div>