<!DOCTYPE html>
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block content %}
<div class="background">
    <div class="padForm">
        <div class="card text-center bg-success" style="width: 25rem">
            <div class="card-header text-center">Enregistrement</div>
            <form action="{% url 'authentification:register' %}" method="post" class="mx-auto">
                {% csrf_token %}
                {% bootstrap_form register_form layout="floating" %}
                <button type="submit" class="btn btn-outline-warning my-2 my-sm-0">
                    Soumettre
                </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}