<!DOCTYPE html>
<html lang="fr">
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block header %}
<div class="p-5 bg-success"></div>
{% endblock header %}

{% block content %}


{% if texte %}
    {{texte.name}} </br>
    {{texte.extrait}}
</div>
<div class=col-md-4>
    <img src="{{texte.picture}}" style="width:10%; height:auto">
    <p class="text-dark">Apprenez en plus sur <a class="text-dark" href="{{texte.url}}">Wikipédia</a></br></p>

{% else %}
<div class="p-5 textOFF" id="bgcolor">
    Aucun produit ne correspond à votre recherche
</div>

{% endif %}
{% endblock content %}
</html>