<!DOCTYPE html>
<html lang="fr">
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block header %}
<div class="p-5 bg-success"></div>
{% endblock header %}

{% block content %}

{% if all_plantes_db %}
{% for plante in all_plantes_db %}
<div class="card text-white bg-success" style="max-width: 40rem;">
    <div class="card text-black text-center">
        <img class="card-img-top">
            <img src="{{plante.plante.picture}}" style="img-fluid. max-width: 100% height: auto"
                 alt="Card image cap" class="picture">
        </div>
        <div class="card-header text-center">{{ plante.name}}</div>
        <div class="card-header text-center">{{ plante.plante.name}}</div>
        <div class="card-header text-center">
            {% if plante.rappel is True %} Rappel actif {% else %} Rappel inactif {% endif %} tous les {{ plante.plante.arrosage }} jour(s).
            <a href="{% url 'plantes:reminder' plante_user_id=plante.id %}" class="btn btn-primary mx-auto col-100 ">{% if plante.rappel is True %} désactiver {% else %} activer le rappel{% endif %}</a>
    </div>
        <p class="card-text text-center">Entretien: {{ plante.plante.entretien }}</p>
        <p class="card-text text-center">Exposition: {{ plante.plante.exposition }}</p>
        <p class="card-text text-center">{{ plante.plante.resume }}</p>
        <p class="card-text text-center"> Apprenez en plus sur <a href="{{ plante.plante.url }}">le site de notre
            source</a></br></p>
        <a href="{% url 'plantes:delete' plante_user_id=plante.id %}" class="btn btn-primary mx-auto col-100 ">Supprimer</a>
    </div>
</div>

{% endfor %}

{% else %}
<div class="p-5 textOFF" id="bgcolor">
    Vous n'avez pas de plantes enregistrer.
</div>
{% endif %}
{% endblock content %}
