<!DOCTYPE html>
<html lang="fr">
{% extends 'main.html' %}
{% load static %}
{% load django_bootstrap5 %}

{% block header %}
<div class="p-5 bg-success"></div>
{% endblock header %}

{% block content %}
<div class="row">
    <div class="bg-success col-md-6 text-center text-white">
        <p>Apprenez en d'avantage sur les plantes:</br></p>
        <form class="pos mx-auto col-10 col-md-8 col-lg-6" method="POST" action="{% url 'plantes:searchPlante' %}">
            {% csrf_token %}
            {% bootstrap_form search_form %}
            <input class="message btn btn-outline-warning my-2 my-sm-0 " type="submit" value="Chercher">
        </form>

    </div>

    <div class="bg-success col-md-6 text-center text-white">
        <p>Faites votre recherche dans notre base de données:</br></p>
        <form id="user-text-form" class="pos mx-auto col-10 col-md-8 col-lg-6" method="POST" action="{% url 'plantes:dbPlante' %}">
            {% csrf_token %}
            {% bootstrap_form search_form %}
            <input class="message btn btn-outline-warning my-2 my-sm-0 " type="submit" value="Chercher">
        </form>
    </div>
</div>
<div class="row">
    {% if all_plantes_db %}
    {% for plante in all_plantes_db %}
    <div class="card text-white bg-success d-flex justify-content-between" style="max-width: 18rem;">
        <img class="card-img-top">
        <div class="card text-black text-center">
            <img src="{{plante.picture}}" style="img-fluid. max-width: 100% height: auto"
                 alt="Card image cap" class="picture">
        </div>
        <div class="card-header text-center">{{ plante.name }}</div>
        <div class="card-body">
            <p class="card-text text-center">Entretien: {{ plante.entretien }}</p>
            <p class="card-text text-center">Exposition: {{ plante.exposition }}</p>
        </div>
        <a href="{% url 'plantes:explainPlante' plante_id=plante.id %}" class="btn btn-primary mx-auto col-10 "> En savoir plus </a>
    </div>
</div>
{% endfor %}

{% else %}
<div class="p-5 textOFF" id="bgcolor">
    Aucun produit ne correspond à votre recherche
</div>
{% endif %}
{% endblock content %}
